// Begin Variables
$blu: #3273dc;
$grn: #23d160;
$red: #ff3860;

// Borrowed from melissa
// https://codepen.io/melissamcewen/pen/EPBPbv
// https://codepen.io/melissamcewen/#
$woodGrain:
  linear-gradient(90deg, #551c07 50%, transparent 50%),
  linear-gradient(94deg, rgba(91,33,5,.1) 0%,rgba(83,29,4,0.32) 23%,rgba(74,24,3,.41) 47%,
    rgba(80,27,5,0.44) 70%,rgba(81,27,5,0.59) 74%,rgba(93,33,4,0.2) 83%,rgba(115,43,3,.5) 100%),
  linear-gradient(90deg, #541c09 50%, transparent 50%),
  linear-gradient(90deg, #7a2e00 50%, #632401 50%);

$upperLeftGlow:
  inset -1px -1px 5px 0px rgba(0,0,0,0.75), inset 1px 1px 1px 0px #FFFFFF;

$shadowFromTop:
  inset -1px 2px 2px 0px rgba(0,0,0,0.75);

$innerShadow:
  inset -1px -1px 4px 2px rgba(0,0,0,0.75);

$fontStack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// End Variables

// Begin Base HTML
* {
  //Prevent highlighting text
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

}

html {
  background-color: #EEEEEE;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
}
// End Base HTML

// Begin Custom Elems
#app {
  font-family: $fontStack;
  justify-content: center;
  text-align: center;
  width: 320px;
  margin: auto;

  @media only screen
  and (min-width: 480px) {
    width: 400px
  }
}

#clock-body {
  border-radius: 6px;
  border: 1px solid #6c2505;
  background-color: #6c2505;
  background-size: 40px 160px, 60px 29px, 27px 27px;
  background-image: $woodGrain;
  box-shadow: $upperLeftGlow;
}

.clock-base {
  height: 10px;
  width: 280px;
  margin: 0 auto;
  background-color: #6c2505;
  background-size: 40px 160px, 60px 29px, 27px 27px;
  background-image: $woodGrain;
  box-shadow: $shadowFromTop;

  @media only screen
  and (min-width: 480px) {
    width: 380px;
  }
}

.clock-face {
  max-width: 280px;
  font-size: 4rem;
  font-weight: 300;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #303030;
  color: #fff;

  box-shadow: $innerShadow;
}

#controls {
  width: 100%;
}

.btn {
  border-radius: 6px 6px 0px 0px;
  border: 1px solid #999;
  padding: 0.25em .5em;
  text-decoration: none;
  font-family: inherit;
  font-size: 100%;
  margin: 0px 10px;

  &:focus {
    outline:0;
  }

  &:active {
    transform: translate(0px, 2px);
  }
}

.btn-good {
  background-color: rgb(28, 184, 65);
  color: #fff;
}

.btn-bad {
	background: rgb(202, 60, 60);
  color: #fff;
}

.btn-cau {
  background: rgb(250, 210, 50);
  color: #fff;
}

.social {
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;

  i {
    color: #303030;
  }
}
// End Custom Elems

// Begin Animations
@keyframes blink {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
// End Animations
